*,
*::after,
*::before {
  box-sizing: inherit;
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  // overflow: hidden;
  // TODO: Update to match your project's design
  // use from util fonts
  font-family: 'Open Sans', sans-serif;
  // TODO: Update to match your project's design
  background-color: hsl(0, 0%, 11%);
  // TODO: Update to match your project's design
  color: hsl(0, 0%, 100%);
}
