:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsla(210, 16%, 20%, 0.8);
  --clr-neutral-300: hsl(240, 86%, 5%);

  // Blue
  --clr-primary-100: hsl(180, 100%, 50%);
  --clr-primary-200: hsl(215, 100%, 10%);
  --clr-primary-300: hsl(215, 100%, 8%);
  --clr-primary-400: hsla(221, 77%, 33%, 0.25);

  // Green
  --clr-secondary-100: hsl(120, 65%, 44%);
}
