@use '../../assets/styles/utils' as utils;

.hero-text__container {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-primary-400);
  background-blend-mode: screen;

  &-inner {
    max-width: 80vw;
    z-index: -100;
    h1 {
      margin: 0;
    }
    .sub-intro {
      // TODO: Update to match your project's design
      color: var(--clr-primary-100);
      font-size: calc(utils.$fs-menu * 0.8);
    }

    .cta-container {
      display: flex;
      gap: 1rem;

      .cta {
        display: flex;
        align-items: center;
        gap: 1rem;

        &:hover {
          background-color: transparent;
          border: 2px solid var(--clr-secondary-100);
        }
      }
    }
  }
}
